* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111111;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

p {
  color: #fff;
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
