.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-control {
  width: 50%;
  display: flex;
  justify-content: center;

  input {
    width: 100%;
    padding: 1rem 0;
  }

  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  width: 30%;

  svg {
    cursor: pointer;
  }
}
